<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.quiz.lesson06.dao.SiteMapper">
 	<select id="selectSiteList" resultType="com.quiz.lesson06.domain.Site">
 		SELECT 
	 		`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM 
			`site`
 	</select>
 	
 	<insert id="insertSite" parameterType="map">
 		INSERT INTO `site`
 		(
 			`name`
			,`url`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{name}
 			,#{url}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<select id="selectSiteByUrl" parameterType="string" resultType="com.quiz.lesson06.domain.Site">
 		SELECT 
	 		`id`
			,`name`
			,`url`
			,`createdAt`
			,`updatedAt`
		FROM 
			`site`
		WHERE 
			`url` = #{url}
 	</select>
 	
 	<delete id="deleteSiteById" parameterType="int">
 		DELETE
 		FROM
 			`site`
 		WHERE
 			`id` = #{id}
 	</delete>
 </mapper>